<div ng-hide="showReservations">
	<h1 class="cover-heading">Aircrafts</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Registration</th>
				<th>Type</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in aircrafts">
				<td>{{a.registration}}</td>
				<td>{{a.type.name}}</td>
				<td>
					<button class="btn btn-xs btn-primary"
						ng-click="loadAircraftReservations(a);">Show Bookings</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-show="showReservations">
	<h1 class="cover-heading">Bookings</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Registration</th>
				<th>Start</th>
				<th>End</th>
				<th>User</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="r in reservations">
				<td>{{r.aircraft.registration}}</td>
				<td>{{r.validFrom | date:'yyyy-MM-dd HH:mm'}}</td>
				<td>{{r.validTo | date:'yyyy-MM-dd HH:mm'}}</td>
				<td>{{r.user.login}}</td>
				<td>{{r.state}}</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-xs btn-primary"
		ng-click="updateAircraftList();">Back to aircraft list</button>
</div>