<h1 class="cover-heading">ACRES - AirCraft REservation System.</h1>
<p class="lead">
Da breitest du weit deine Arme aus<br/>
Und ein tiefer Atemzug!<br/>
Du schwingst dich empor über Straße und Haus<br/>
Im traumhaften Vogelflug.<br/>
Du fliegst und du fliegst und du brauchst kein Ziel<br/>
Das Dasein selbst ist Glück!<br/>
Keine Grenze dort unten bekümmert dich viel,<br/>
du möchtest nie zurück.<br/>
</p>
<p class="lead">
  <a class="btn btn-lg btn-default" ng-click="resetShowcase();">Reset showcase</a>
</p>
